.authForm {
	> button {
		display: block !important;
		@apply mx-auto;
	}
	> p {
		@apply transition-all mx-auto cursor-pointer max-w-fit border-b-2 mt-4 border-transparent 
		opacity-70 hover:opacity-100 hover:border-green;
	}
}

.authButton {
	@apply relative;
	border-radius: 50% !important;
	padding: 0 !important;
	width: 2.5rem !important;
	height: 2.5rem !important;
	> svg {
		@apply h-7 w-7;
	}
	> li {
		@apply absolute top-0 right-0 bg-green text-white rounded-full w-3.5 h-3.5 text-xs list-none flex justify-center items-center font-medium;
	}
}
